/*reseter os estilos*/
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/*estilizando a imagem do header*/

header img{
    width: 100%;
}
/*Nav bar estilizado*/
nav ul{
    list-style: none;
    background-color: rgb(255, 112, 9);
}
nav ul li{
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}
nav ul li:hover{
    background-color: rgb(255, 192, 144);
    cursor: pointer;
}
nav a {
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}

/*hamburguer*/

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color:  rgb(255, 192, 144);
	color: #000;
 	position: block ;
	top: 3rem;
	right: 20rem;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}


.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color:  rgb(255, 192, 144);
	color: #333;
	font-weight: 700;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

#calendario {
    width: 80%; /* Defina a largura desejada para a tabela */
    margin: 0 auto; /* Centraliza a tabela na página */
}

/* Fixa a linha dos dias da semana e os horários */
#calendario th,
#calendario td:first-child {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

#calendario th:first-child,
#calendario td:first-child {
    left: 0;
}

th.segunda {
    background-color: orange;
}

th.terca {
    background-color: rgb(94, 166, 94);
}

th.quarta {
    background-color: rgb(113, 113, 255);
}

th.quinta {
    background-color: yellow;
}

th.sexta {
    background-color: lightcoral;
}

th.sabado {
    background-color: rgb(6, 244, 6);
}

/* Estilo para a primeira linha da tabela */
.table-title {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Defina a cor de fundo desejada */
    z-index: 999; /* Certifique-se de que o cabeçalho da tabela esteja sempre na parte superior */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior para separar o título do restante da tabela */
}
/* Definir altura máxima e adicionar barra de rolagem vertical */
.scrollable-table {
    max-height: 400px; /* Altura máxima da área de rolagem */
    overflow-y: auto; /* Adicionar barra de rolagem vertical quando necessário */
}
/* Reduzir o tamanho das células da tabela */
table td {
    padding: 5px; /* Adicione algum espaço entre o conteúdo e a borda da célula */
    font-size: 14px; /* Reduza o tamanho do texto dentro das células */
}