/*reseter os estilos*/
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/*estilizando a imagem do header*/

header img{
    width: 100%;
}
/*Nav bar estilizado*/
nav ul{
    list-style: none;
    background-color: rgb(255, 112, 9);
}
nav ul li{
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}
nav ul li:hover{
    background-color: rgb(255, 192, 144);
    cursor: pointer;
}
nav a {
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}

/*hamburguer*/

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color:  rgb(255, 192, 144);
	color: #000;
 	position: block ;
	top: 3rem;
	right: 20rem;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}


.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color:  rgb(255, 192, 144);
	color: #333;
	font-weight: 700;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


/* Fixa a linha dos dias da semana e os horários */




/* Estilo para as células do cabeçalho da tabela */
th.segunda {
    background-color: orange;
}

th.terca {
    background-color: rgb(94, 166, 94);
}

th.quarta {
    background-color: rgb(113, 113, 255);
}

th.quinta {
    background-color: yellow;
}

th.sexta {
    background-color: lightcoral;
}

th.sabado {
    background-color: rgb(6, 244, 6);
}

/* Estilo para a primeira linha da tabela */
.table-title {
    position: sticky;
    top: 0;
    font-size: 12px;
    
    background-color: #ffc787; /* Defina a cor de fundo desejada */
    z-index: 999; /* Certifique-se de que o cabeçalho da tabela esteja sempre na parte superior */
    border-bottom: 1px solid #000000; /* Adiciona uma borda inferior para separar o título do restante da tabela */
}

/* Estilo para as células da tabela */
table {
    border-collapse: collapse; /* Para mesclar as bordas das células */
    width: 100%; /* Define a largura da tabela */
}

table td, table th {
    border: 1px solid #dddddd; /* Adiciona uma borda de 1px sólida com a cor cinza para as células */
    padding: 8px; /* Adiciona um preenchimento interno de 8 pixels para as células */
    text-align: left; /* Alinha o texto à esquerda nas células */
}

/* Estilo para as células do cabeçalho da tabela */
table th {
    background-color: #f2f2f2; /* Define uma cor de fundo cinza claro para as células do cabeçalho */
}

/* Estilo para as células alternadas da tabela */
table tr:nth-child(even) {
    background-color: #f2f2f2; /* Define uma cor de fundo cinza claro para as linhas pares da tabela */
}

.confirmada { background-color: green; }
.reposicao { background-color: lightblue; }
.cancelada { background-color: red; }
.alterouData { background-color: orange; }
